body{
  margin: 0;
}
.container {
  background-color: #2f2f2f;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  height: 2vh;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  top: 0;
}
.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}
.name {
  text-align: center;
  color: black;
  font-size: 24px;
  padding: 20px 0;
}
.line {
  width: 100%;
  border: 1px solid #e7e7e7;
}
.menu {
  display: flex;
  justify-content: center;
}
.item {
  margin: 0 10px;
  padding: 10px 0;
  cursor: pointer;
}
.section {
  text-align: center;
  padding: 110px 0 50px;
}
.section .for-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .contect {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section .for-image img {
  height: 385px;
  width: auto;
  margin-right: 20px;
  border-radius: 10px;
}
.section .for-image .text_a {
  text-align: left;
}
.section .content .text {
  text-align: justify;
  padding-left: 100px;
  padding-right: 100px;
}